body
{
 text-align: center;
    margin: 30px auto;
}
#prin
{
    margin-top:-600px;
}
#mymain
{
    margin-right: -1200px;
   margin-top:-385px; 
}
a
{
  font-size: 20px;
}
p
{
   font-size: 24px;  
}
